---
layout: single
author_profile: false
---

<h2>Welcome to Security Tokens Club!</h2>

<p>We are running a series of community discussions which cover the emerging technical and legal issues surrounding issuing security tokens on blockchains. We welcome suggested links, speakers, and notes <a href="https://github.com/finhaven/securitytokensclub">through our Github repo</a>.</p>
<p>Your hosts include <a href="https://twitter.com/bmann">Boris Mann</a> and the <a href="http://finhaven.com">Finhaven</a> team.</p>

<h2>Upcoming Events</h2>
  <ul>
  {% for post in page.categories["Event"] %}
    <li>{{ post.title }}<li>
  {% endfor %}
  </ul>
  
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

